/.bash_history
/.bash_logout
/.bashrc
/.cache
/.codex
/.conda
/.condarc
/.dotnet
/.ipython
/.local
/.nv
/.profile
/.vscode-server
/.wget-hsts
/Anaconda3-2024.10-1-Linux-x86_64.sh
/anaconda3
/data
/ee40034_practical6